
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
  }

  
body{
    background-color: #E6DBDB;
}

  .loginForm {
    position:absolute;
    width:400px;
    height:700px;
    background-color:#FFFFFF;
    text-align:center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
  }
  .loginForm h1{
      margin: 75px;
      color: #1C1C1C;
      font-weight: 900px;
  }
  
.nameForm{
    border-bottom: 2px solid #adadad;
    margin-top: 30px;
    margin: 50px;
    padding: 10px 10px;
}
.name{
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
}
  
  .idForm{
    border-bottom: 2px solid #adadad;
    margin: 50px;
    padding: 10px 10px;
  }
  
  .passForm{
    border-bottom: 2px solid #adadad;
    margin: 50px;
    padding: 10px 10px;
  }
  
  .id {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  
  .pw {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  
  button{
    position: relative;
    margin-top: 40px;
    margin-bottom: 60px;
    width:60%;
    height:40px;
    border-radius: 15px;
    font-weight: 10000px;
  }

  .bottomText {
    text-align: center;
  }

a {
  text-decoration: none;
  color: #1C1C1C;
}

.error {
  color: red;
}