{% load static %}

<!DOCTYPE HTML>

<html>
	<head>
		<title>ERES</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}">
		<noscript>
			<link rel="stylesheet" type="text/css" href="{% static 'assets/css/noscript.css' %}">
		</noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
							<a href="/index/" class="logo">
								<span class="symbol"><img src="{% static 'images/icon.png' %}"></span>
								<span class="title">ERES</span>
							</a>
							<!-- Nav -->
								<nav>
									<ul>
										<div class="search">
											<div class="icon">
												<span>
													<svg viewBox="0 0 40 40">
														<path d="M3,3 L37,37"></path>
													</svg>
												</span>
											</div>
											<div class="field">
												<input type="text" placeholder="Search for something...">
											</div>
										</div>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					{% block content %}
					{% include 'eres/menu.html' %}
					{% endblock %}

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1 style="margin-bottom: 0px;">{{ post.title }}</h1>
							<div style="margin-bottom: 2.75em;">- {{ post.author }}</div>
							{% if post.file %}
								<span class="image main" style="display: flex; justify-content: center; align-items: center;">
									<img style="height: 332px; width: fit-content;" src="{{ post.file.url }}" alt="" />
								</span>
								{% endif %}
							<p>{{ post.contents }}</p>
						</div>
					</div>

			</div>

		<!-- Scripts -->
		
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>