{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>ERES</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}">
		<noscript>
			<link rel="stylesheet" type="text/css" href="{% static 'assets/css/noscript.css' %}">
		</noscript>
		<!-- {% if script %} -->
		<script>
			alert("{{ script }}")
			document.location.href = "/"
		</script>
		<!-- {% endif %} -->
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
					<header id="header">
						<div class="inner">
							<!-- Logo -->
								<a href="/index/" class="logo">
									<span class="symbol"><img src="{% static 'images/icon.png' %}"></span>
									<span class="title">ERES</span>
								</a>
								{%if isLogin %}
								<button class="plus" onclick="document.location.href = '/post'">+</button>
								{% endif %}
							<!-- Nav -->
								<nav>
									<ul>
										<div class="search">
											<div class="icon">
												<span>
													<svg viewBox="0 0 40 40">
														<path d="M3,3 L37,37"></path>
													</svg>
												</span>
											</div>
											<div class="field">
												<input type="text" placeholder="Search...">
											</div>
										</div>
										
										<!-- dribbble -->
										<a class="dribbble" href="https://dribbble.com/shots/4871057-Search-loading-animation" target="_blank">
											<img src="https://cdn.dribbble.com/assets/dribbble-ball-1col-dnld-e29e0436f93d2f9c430fde5f3da66f94493fdca66351408ab0f96e2ec518ab17.png" alt="">
										</a>

										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					{% block content %}
					{% include 'eres/menu.html' %}
					{% endblock %}

				<!-- Main -->
					<div id="main">
						<div class="inner">
							{% if posts %}
							<section class="tiles">
								{% for post in posts %}
								{% if post.file %}
									<article>
										<span class="image">
											<img src="{{ post.file.url }}" alt="" />
										</span>
										<a href="/generic/{{ post.id }}">
											<h2>{{ post.title }}</h2>
											<div class="content">
												<p style="white-space: nowrap; overflow: hidden;">{{ post.contents }}</p>
											</div>
										</a>
									</article>
								{% else %}
									<article class="style6">
										<span class="image">
											<img src="{% static 'images/pic02.jpg' %}" alt="" />
										</span>
										<a href="/generic/{{ post.id }}">
											<h2>{{ post.title }}</h2>
											<div class="content">
												<p style="white-space: nowrap; overflow: hidden;">{{ post.contents }}</p>
											</div>
										</a>
									</article>
								{% endif %}
							{% endfor %}
							</section>
							{% else %}
							<div class="col-12" style="text-align: center; margin-top: 320px;">게시글이 없습니다.</div>
							{% endif %}
						</div>
					</div>

				
			</div>

		<!-- Scripts -->
		
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>