<nav id="menu">
  <h2>Menu</h2> 
  <ul>
    <li>
      {%if isLogin %}
      <a href="/signout" class="sign" style="float: left; border: 1px; margin-right: 20px; border: 1px solid white; padding: 10px; border-radius: 10px;">로그아웃</a>
      {% else %}
      <a href="/signin" class="sign" style="float: left; border: 1px; margin-right: 20px; border: 1px solid white; padding: 10px; border-radius: 10px;">로그인</a>
      {% endif %}
      <a href="/signup" style="padding: 10px; margin-bottom: 15px;">회원가입</a>
    </li>
    <li><a href="/">메인</a></li>
    {%if isLogin %}
    <li><a href="/myinfo">내 정보</a></li>
    {% endif %}
    <li><a href="/category/korean">한식</a></li>
    <li><a href="/category/chinese">중식</a></li>
    <li><a href="/category/japanese">일식</a></li>
    <li><a href="/category/western">양식</a></li>
    <li><a href="/category/dessert">디저트</a></li>
  </ul>
</nav>