{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>ERES</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}">
		<noscript>
			<link rel="stylesheet" type="text/css" href="{% static 'assets/css/noscript.css' %}">
		</noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				
				<!-- Header -->
					<header id="header">
						<div class="inner">
							<!-- Logo -->
								<a href="/index/" class="logo">
									<span class="symbol"><img src="{% static 'images/icon.png' %}"></span><span class="title">ERES</span>
								</a>
							<!-- Nav -->
								<nav>
									<ul>
										
										<!-- dribbble -->
										<a class="dribbble" href="https://dribbble.com/shots/4871057-Search-loading-animation" target="_blank">
											<img src="https://cdn.dribbble.com/assets/dribbble-ball-1col-dnld-e29e0436f93d2f9c430fde5f3da66f94493fdca66351408ab0f96e2ec518ab17.png" alt="">
										</a>

										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					{% block content %}
					{% include 'eres/menu.html' %}
					{% endblock %}

				<!-- Main -->
					<div id="main">
						<div class="inner">
              <section>
                <h2>회원가입</h2>
                <form method="POST" action="{% url 'eres:signup' %}">
                  <div class="row gtr-uniform">
                    <div class="col-12">
                      <input type="text" class="name" placeholder="별명" name="first_name" >
                    </div>
                    <div class="col-12">
                      <input type="text" class="id" placeholder="ID" name="username">
                    </div>
                    <div class="col-12">
                      <input type="password" class="pw" placeholder="비밀번호" name="password1">
                    </div>
                    <div class="col-12">
                      <input type="password" class="pw" placeholder="비밀번호 확인" name="password2">
                    </div>
                      {% if error %}
                      <div class="error">{{ error }}</div>
                      {% endif %}
                    <div class="col-12">
                      <input type="submit" value="회원가입" class="primary" />
                    </div>
                  </div>
                </form>
              </section>
						</div>
					</div>

				
			</div>

		<!-- Scripts -->
		
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>